
body {
  font-family: Verdana;
}

h1 {
	color:midnightBlue;
}
h2 {
	color:midnightBlue;
}

table.zebra tr:nth-child(even) {
	background-color:#c6d1dd;
}
tr:nth-child(odd) {
	background-color:#ffffe0;
}
th {
	color:#00008b;
	background-color:#f0e68c;
}
dd, dt {
  margin-left: 0;
  }
dd {
  font-weight: bold;
/*   margin-top: 0.5em; */
} 
dt {
	margin-top:1em;
}
.fout {
	color:red;
}
