
body {
  font-family: Verdana;
}

h1 {
	color:midnightBlue;
}
h2 {
	color:midnightBlue;
}

table.zebra tr:nth-child(even) {
	background-color:#efefef;
}
tr:nth-child(odd) {
	background-color:#c6d1dd;
}

dl {
	text-align:left;
}
dd {
	padding-bottom:1em;
	text-align:left;
	text-indent:0;
	font-weight:bold;
}
div.fout {
	color:red;
}
